<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>Groupes aléatoires :</h1>
    <table>
      <thead>
        <tr>
          {{#groupes}}
          <td>
            {{#.}}
            Groupe {{index}}
            {{/.}}
          </td>
          {{/groupes}}
        </tr>
        <tbody>
          <tr>
            {{#groupes}}
            {{#.}}
            <td>
              <ul>
                {{#groupe}}
                <li>
                  {{name}}
                </li>
                {{/groupe}}
              </ul>
            </td>
            {{/.}}
            {{/groupes}}
          </tr>
        </tbody>
      </thead>
    </table>
  </body>
</html>
